// Reset markers, then add new ones
markers.forEach((m) => m.remove())
markers = [
<% @listings.map do |listing| %>
  [<%= listing.id %>, <%= listing.lat %>, <%= listing.lng %>, "<%= listing.marker_icon(@price_spread, @latest_import) %>"],
<% end %>
].map(([id, lat, lng, icon]) => {
  var marker = L.marker([lat, lng], {icon: marker_icons[icon]}).addTo(map)
  marker.bindPopup(
    `<turbo-frame id="listing_${id}_marker_popup" src="/listings/${id}" loading="lazy"></turbo-frame>`,
    {minWidth: 200}
  )
  return marker
})
console.log("Listings: ", <%= @listings.size %>)

document.getElementById('map_legend_prices').innerHTML = `
<% 7.times do |i| %>
  <% if @price_spread[i] > 0 %>
  <%= number_to_currency(@price_spread[i]/1000, precision: 0) %>k
  <% end %>
  <%= image_tag("house#{i+1}") %>
<% end %>
<button popovertarget="search_filters">Edit</button>
`
