// Reset markers, then add new ones
markers.forEach((m) => m.remove())
markers = []
<% @listings.each do |listing| %>
  var marker = L.marker(
    [<%= listing.lat %>, <%= listing.lng %>],
    {icon: marker_icons.<%= listing.marker_icon(@price_spread, @latest_import) %>}
  ).addTo(map)
  marker.bindPopup(
    `<turbo-frame id="<%= dom_id(listing) %>_marker_popup" src="<%= listing_path(listing) %>" loading="lazy"></turbo-frame>`,
    {minWidth: 200}
  )
  markers.push(marker)
<% end %>
console.log("Listings: ", <%= @listings.size %>)

document.getElementById('map_legend_prices').innerHTML = `
<% 7.times do |i| %>
  <% if @price_spread[i] > 0 %>
  <%= number_to_currency(@price_spread[i]/1000, precision: 0) %>k
  <% end %>
  <%= image_tag("house#{i+1}") %>
<% end %>
<button popovertarget="search_filters">Edit</button>
`
