<div id="map_legend">
  <div id="map_legend_prices"></div>

  <div class="double-ended-range">
    <input type="range" id="min_price" name="min_price" list="price_values" min="0" max="<%= ListingsController::UNLIMITED_PRICE %>" step="50000" value="<%= @min_price %>" />
    <input type="range" id="max_price" name="max_price" list="price_values" min="0" max="<%= ListingsController::UNLIMITED_PRICE %>" step="50000" value="<%= @max_price %>" />

    <datalist id="price_values">
      <option value="0" label="0" />
      <option value="250000" label="250k" />
      <option value="500000" label="500k" />
      <option value="750000" label="750k" />
      <option value="1000000" label="1M" />
      <option value="1250000" label="1.25M" />
      <option value="1500000" label="1.5M" />
      <option value="1750000" label="1.75M" />
      <option value="2000000" label="2M" />
      <option value="<%= ListingsController::UNLIMITED_PRICE %>" label="No Limit" />
    </datalist>
  </div>

  <div>
    <%= check_box_tag "new_listings", 1, @new_listings %>
    <%= label_tag "new_listings", "New Listings" %>
  </div>
</div>
<div id="map"></div>

<script type="text/javascript">
  // Prevent price selectors from overlapping
  document.getElementById('min_price').addEventListener('input', (e) => {
    let maxValue = document.getElementById('max_price').value
    if (parseInt(e.target.value) >= parseInt(maxValue)) {
      document.getElementById('min_price').value = parseInt(maxValue) - 50000
    }
  })
  document.getElementById('max_price').addEventListener('input', (e) => {
    let minValue = document.getElementById('min_price').value
    if (parseInt(e.target.value) <= parseInt(minValue)) {
      document.getElementById('max_price').value = parseInt(minValue) + 50000
    }
  })

  // Submit price ranges on change
  document.getElementById('min_price').addEventListener('change', (e) => {
    let minPrice = e.target.value
    var script = document.createElement('script')
    script.src = `/listings.js?min_price=${minPrice}`
    document.body.appendChild(script)
  })
  document.getElementById('max_price').addEventListener('change', (e) => {
    let maxPrice = e.target.value
    var script = document.createElement('script')
    script.src = `/listings.js?max_price=${maxPrice}`
    document.body.appendChild(script)
  })

  // Submit new listings on change
  document.getElementById('new_listings').addEventListener('change', (e) => {
    let new_listings = e.target.checked
    var script = document.createElement('script')
    script.src = `/listings.js?new_listings=${new_listings}`
    document.body.appendChild(script)
  })

  // Map initialization
  var map = L.map('map', {
    center: [49.19, -123.98],
    zoom: 13
  });
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  var markers = []
  var marker_icons = {
    <% 7.times do |i| j = i + 1 %>
      house<%= j %>: L.icon({
        iconUrl: '<%= image_path("house#{j}") %>',
        iconSize: [20,20],
        iconAnchor: [10,10]
      }),
      house<%= j %>gs: L.icon({
        iconUrl: '<%= image_path("house#{j}-gs") %>',
        iconSize: [20,20],
        iconAnchor: [10,10]
      }),
      house<%= j %>ss: L.icon({
        iconUrl: '<%= image_path("house#{j}-ss") %>',
        iconSize: [20,20],
        iconAnchor: [10,10]
      }),
      star<%= j %>: L.icon({
        iconUrl: '<%= image_path("star#{j}") %>',
        iconSize: [20,20],
        iconAnchor: [10,10]
      }),
    <% end %>
  }
</script>
<script src="/listings.js" />
