<div id="map">&nbsp;</div>

<script type="text/javascript">
var map = L.map('map', {
  center: [49.19, -123.98],
  zoom: 13
});
L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
  maxZoom: 19,
  attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(map);

var greenPin = L.icon({
  iconUrl: 'http://maps.google.com/mapfiles/ms/icons/green.png',
})

<% @listings.each do |listing| %>
var marker = L.marker(
  [<%= listing.lat %>, <%= listing.lng %>],
  {icon: greenPin}
).addTo(map)
marker.bindPopup(`
  <img class="photo" src="<%= listing.tooltip_photo %>"/></br>
  <strong>$<%= listing.price/1000 %>k</strong> - <%= listing.address %><br/>
  <%= image_tag("bed", class: "icon") %> <%= listing.bedrooms %> <%= image_tag("bath", class: "icon") %> <%= listing.bathrooms %> - Updated <%= listing.last_update %>
`)
<% end %>
</script>
