<%= turbo_frame_tag dom_id(listing) + "_marker_popup" do %>
  <a target="_blank" rel="noreferrer noopener" href="<%= listing.external_url %>"><img class="photo" src="<%= listing.tooltip_photo %>"/></a></br>
  <%= listing.address %>
  <br/>
  <%= image_tag("bed", class: "icon") %> <%= listing.bedrooms %>
  <%= image_tag("bath", class: "icon") %> <%= listing.bathrooms %>
  -
  <%= image_tag("sqft", class: "icon") %> <%= listing.sqft %>
  <br/>

  <strong>$<%= listing.price/1000 %>k</strong> @ <%= listing.created_at.strftime("%b %d") %><br />
  <% listing.history.each do |prior| %>
    $<%= prior.price/1000 %>k @ <%= prior.imported_at.strftime("%b %d") %><br />
  <% end %>
<% end %>
