<div id="map_legend">
  <turbo-frame id="map_legend_frame" src="/filters">
    <p>Loading...</p>
  </turbo-frame>
</div>
<div id="map"></div>

<script type="text/javascript">
  // Map initialization
  var map = L.map('map', {
    center: [49.19, -123.98],
    zoom: 13
  });
  L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
  }).addTo(map);

  var markers = []
  var marker_icons = {
    <% 7.times do |i| j = i + 1 %>
      house<%= j %>: L.icon({
        iconUrl: '<%= image_path("house#{j}") %>',
        iconSize: [20,20],
        iconAnchor: [10,10]
      }),
      house<%= j %>new: L.icon({
        iconUrl: '<%= image_path("house#{j}new") %>',
        iconSize: [30,30],
        iconAnchor: [15,15]
      }),
      house<%= j %>recent: L.icon({
        iconUrl: '<%= image_path("house#{j}recent") %>',
        iconSize: [30,30],
        iconAnchor: [15,15]
      }),
      star<%= j %>: L.icon({
        iconUrl: '<%= image_path("star#{j}") %>',
        iconSize: [20,20],
        iconAnchor: [10,10]
      }),
    <% end %>
  }
</script>
